@model BoletoBusMonolitic.Web.Data.Models.ViajeModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details Viaje</h1>

<div>
    <h4>ViajeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRuta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRuta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAsientos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAsientos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientosReservados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientosReservados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsientoDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsientoDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdViaje">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
